@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    /*width:100vw;*/
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.header{
    width:100%;
    height:500px;
    background-image: url("../images/bg.jpg");
    display: flex;
    justify-content: center;
}

.header-menu{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width:930px;
}

.header-left{
    display: flex;
    flex-direction: column;
    width: 400px;;
}

.header-logo{
    background-image: url("../images/logo.png");
    width: 200px;
    height:100px;
    margin-left:-12px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.header-right{
    width: 465px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-hand{
    background-image: url("../images/handpic.png");
    width:400px;
    height:400px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 70px;
}

p{
    font-size: 22px;
    color: white;
    line-height: 140%;
}

main {
    width: 930px;
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction:column;*/
    /*justify-content: center;*/
}

.container-bottom{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 30px;
    color:#232323;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container-top p{
    font-size: 18px;
    color:#838383;
    margin-bottom: 80px;
    text-align: center;
}

h2{
    font-size: 24px;
    color:#232323;
    margin-bottom: 20px;
    text-align: center;
}

.article p{
    font-size: 14px;
    color:#838383;
    text-align: center;
    margin-bottom: 50px;
}

h1, h2{
    font-weight: bold;
}

.container-top{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article{
    border-right: 1px solid #838383;
}

.article:last-of-type{
    border: none;
}

.footer{
    height: 500px;
    width: 100%;
}
/*.container-bottom:last-child{*/
/*    border: none;*/
/*}*/